@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

body {
    font-family: 'Moderustic', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(185, 241, 255);
}

.heading {
    border-radius: 10px;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: rgb(9, 9, 51);
}

.link {
    color: darkblue;
}

.link:hover,
.link:hover .card-details {
    color: rgb(57, 140, 255);
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px;
}

.card:hover {
    box-shadow: 0 0 20px rgba(33,33,33,.3);
}

.card {
    padding: 16px;
    border-radius: 10px;
    background-color: rgb(98, 205, 255);
}

.card-details {
    font-size: 20px;
    color: darkblue;
    padding: 4px;
    padding-left: 0px;
}

img {
    object-fit: cover;
}

.back {
    display: block;
}

div {
    margin: 10px 0px;
}