body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

h1, 
.author {
    color: white;
    background-color: rgb(9, 9, 51);
    padding: 16px;
}

h1 {
    font-size: 35px;
    margin-bottom: 0px;
}

.author {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 0px;
}

.link {
    color: darkblue;
}

.link:hover {
    color: blue;
}

.link.recipe {
    display: block;
}

.recipe-card {
    width: 300px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: solid;
    border-color: darkblue;
    border-width: 3px;
    background-color: lightblue;
    display: flexbox;
}