body {
    font-family: 'Moderustic', sans-serif;
    color: rgb(0, 0, 0);
}

h1, 
.author {
    color: white;
    background-color: rgb(9, 9, 51);
    padding: 16px;
}

h1 {
    font-size: 35px;
    margin-bottom: 0px;
}

.author {
    font-size: 15px;
    padding-top: 5px;
    margin-top: 0px;
}

.link {
    color: darkblue;
}

.link:hover,
.link:hover .card-details {
    color: rgb(24, 120, 255);
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.3); 
}

.card {
    display: inline-block;
    padding: 16px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: lightblue;
}

.card-details {
    font-size: 20px;
    color: darkblue;
    padding: 4px;
    padding-left: 0px;
}

img {
    object-fit: cover;
}